.section2 {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px;
  top: 0px;
  display: flex;
}

.section2 .imgBox {
  position: relative;
  width: 50%;
  height: 100%;
}

.section2 .imgBox::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: screen;
}

.section2 .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section2 .contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.section2 .contentBox .formBox h3 {
  font-size: 21px;
  margin-left: 0px;
  padding: 0px;
}

.section2 .contentBox .formBox {
  width: 50%;
  color: #080808;
  padding: 0px;
}

.section2 .contentBox .formBox .inputBox {
  margin-bottom: 20px;
  margin-right: 25px;
}
.section2 .contentBox .formBox .inputBox span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #080808;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.section2 .contentBox .formBox .inputBox input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  border: 1px solid #080808;
  font-size: 16px;
  letter-spacing: 1px;
  color: #080808;
  background: transparent;
  border-radius: 30px;
  padding-left: 20px;
}
.section2 .contentBox .formBox .inputBox input:hover {
  background-color: #faf9aa;
  border: 1px solid #faf9aa;
}

.section2 .contentBox .formBox .inputBox button {
  width: 45%;
  height: 50px;
  padding: 6px 5px;
  outline: none;
  font-weight: 200;
  border: 2px solid #080808;
  font-size: 20px;
  margin-left: 80px;
  letter-spacing: 1px;
  color: #ffffff;
  background: #080808;
  border-radius: 30px;
  padding-left: 5px;
}

.section2 .contentBox .formBox .inputBox button:hover {
  background: #faf9aa;
  color: #080808;
  border: 1px solid #faf9aa;
}

.section2 .contentBox .formBox .remember {
  margin-bottom: 10px;
  color: #080808;
  font-weight: 400;
  font-size: 19px;
}

.section2 .contentBox .formBox .inputBox p {
  color: #080808;
  margin: 5px;
  margin-right: 47px;
  font-size: 20px;
}

.section2 .contentBox .formBox .inputBox p a {
  color: #f30808;
  text-decoration: none;
}

.section2 .contentBox .formBox h2 {
  width: 100%;
  color: #080808;
  text-align: center;
  padding: 0px;
  font-weight: bold;
  padding-right: 24px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 30px;
}

.section2 .contentBox .formBox .scil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 100%;
  padding: 0px;
}

.section2 .contentBox .formBox .scil li {
  list-style: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #080808;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}

.section2 .contentBox .formBox .scil li:hover {
  background: #ff4584;
}

.section2 .contentBox .formBox .scil li img {
  transform: scale(0.5);
  filter: invert(1);
}

.tooltip{
  width: 200px;
}

@media all and (max-width: 768px) {
  .section2 .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .section2 .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .section2 .contentBox .formBox {
    width: 100%;
    padding: 30px;
    background: rgb(255 255 255 / 0.7);
    margin: 50px;
  }
  .section2 .contentBox .formBox h3 {
    width: 100%;
    color: #080808;
    text-align: center;
    margin: 30px 0 10px;
    padding: 0px;
    font-weight: 500;
  }

  .section2 .contentBox .formBox .scil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 100%;
    height: 100%;
  }
}
