.AllAbout {
  width: 100%;
  display: grid;
  border: red;
  font-family: "Crimson Pro", serif;
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
}

h4 {
  padding: 30px 0px 0px 20px;
  text-align: center;
  font-weight: bold;
  font-family: "Crimson Pro", serif;
}

.ImageAbout {
  width: 450px;
  height: 500px;
  vertical-align: middle;
}
